
<header class="page-header">
  <h1>Community Feed</h1>
</header>

<main class="posts-container">
  <article class="post-card">
    <h2>First Post</h2>
    <p>This is the description of the first post.</p>
    <button>Delete</button>
  </article>

  <article class="post-card">
    <h2>Second Post</h2>
    <p>This is another post description.</p>
    <button>Delete</button>
  </article>

   <article class="post-card">
    <h2>Third Post</h2>
    <p>This is the last one i swear.</p>
    <button>Delete</button>
  </article>
</main>